name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Kahfi10
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Makassar

          # 1. Menampilkan 3D Isometric Calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # 2. Menampilkan Bahasa Pemrograman
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          
          # 3. Menampilkan Coding Habits
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          # 4. Menampilkan Teknologi/Skills
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: icons
          
